<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Search {{ currentTab }}</ion-title>
    <ion-buttons slot="end">
      <ion-buttons>
        <ion-button expand="block" fill="clear" (click)="scan()" [disabled]="wifiService.buttons">
          <ion-icon slot="icon-only" name="sync" color="light"></ion-icon>
        </ion-button>
        <ion-button expand="block" fill="clear" (click)="changeEnabledWifiOptionsYN(!wifiService.wifiIsEnabled)">
          <ion-icon slot="icon-only" name="wifi" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="wifi">
        <ion-icon name="wifi"></ion-icon>
        <ion-label>WiFi</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bluetooth">
        <ion-icon name="bluetooth"></ion-icon>
        <ion-label>Bluetooth</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <!-- <ion-spinner name="crescent" duration="3000"></ion-spinner>
  <ion-button  (click)="scanNetworks()" expand="block" fill="clear" shape="round" color="primary">
    Scan Networks...
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let data of wifi">
      <ion-label>
        <h3>SSID: {{ data.SSID }}</h3>
        <h3>BSSID: {{ data.BSSID }}</h3>
        <p>Frequency: {{ data.frequency }}</p>
        <p>Potency: {{ data.level }}dBm</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
